@model List<QuanLyKyTucXa_MVC.Models.Phong>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

<link href="/static/morris.css" rel="stylesheet" />
<link href="/static/c3.min.css" rel="stylesheet" />
<link href="/static/style.css" rel="stylesheet" />
<link href="/static/dashboard1.css" rel="stylesheet" />
<link href="/static/style.css" rel="stylesheet" />
<link href="/static/home.css" rel="stylesheet" />
<div class="skin-default-dark fixed-layout">
    <div id="main-wrapper">
        @Html.Partial("~/Views/layout/navbar.cshtml")
        @Html.Partial("~/Views/layout/header.cshtml")
        <div class="page-wrapper">
            <div class="container-fluid">
                <br>
                <div class="text-center" style="padding: 0px 23px;">
                    <div class="square" style="background-color: #2387e0">
                        <a>Phòng trống</a>
                    </div>
                    <div class="square" style="background-color: #489d41">
                        <a>Phòng đã có người ở</a>
                    </div>
                    <div class="square" style="background-color: #e7574d">
                        <a>Phòng đang sửa chữa</a>
                    </div>
                    <div class="square" style="background-color: #C0C0C0">
                        <a>Phòng đang dọn dẹp</a>
                    </div>
                </div>
                <div class="room-container">
                    @if (Model != null && Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            var tableClass = @item.songuoio >= 1 ? "conguoi" : "controng";
                            <div id="table-@(item.id)" class="@tableClass room-box">
                                <p>Số phòng: @item.id</p>
                                <p>Loại phòng: @item.loaiphong</p>
                                <p>Số giường: @item.sogiuong</p>
                                <p>Số người: @item.songuoio</p>
                                <div class="context-menu">
                                    <a href="/Phong/GetAllStudentsIDPhong/@item.id">
                                        <i class="fas fa-info-circle" style="color: red; font-size: 20px; margin-right: 5px;"></i>
                                        Danh sách sinh viên
                                    </a>
                                    <a href="/SinhVien/SinhVienThuePhong/@item.id">
                                        <i style="font-size: 20px; margin-right: 10px" class="fas fa-bed orange_color"></i>
                                        Thuê phòng
                                    </a>
                                </div>
                            </div>
                            <div class="student-info" id="student-info-@(item.id)"></div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<script src="/static/custom.min.js"></script>
<script src="/static/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

@if (TempData["thuephongthanhcong"] != null)
{
    <script>
        Swal.fire({
            title: 'Thuê Phòng thành công!',
            icon: 'success',
            showConfirmButton: false,
        });
    </script>
}