@model QuanLyKyTucXa_MVC.Models.Modeldata
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

<link href="/static/morris.css" rel="stylesheet" />
<link href="/static/c3.min.css" rel="stylesheet" />
<link href="/static/style.css" rel="stylesheet" />
<link href="/static/dashboard1.css" rel="stylesheet" />
<link href="/static/style.css" rel="stylesheet" />
<link href="/static/home.css" rel="stylesheet" />
<div class="skin-default-dark fixed-layout">
    <div id="main-wrapper">
        @Html.Partial("~/Views/layout/navbar.cshtml")
        @Html.Partial("~/Views/layout/header.cshtml")
        <div class="page-wrapper">
            <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
                <div class="container-fluid">
                    <div class="card">
                        <div class="row">
                            <h2 class="mt-2 mb-4 text-center">Nhập thông tin chuyển phòng</h2>
                            <div class="col-6">
                                <div class="text-bg-success p-2">Thông tin sinh viên muốn chuyển phòng</div>
                                <div class="border border-secondary-subtle" style="padding:10px 20px">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label for="id" class="form-label">
                                                    Mã sinh viên:
                                                </label>
                                                <input type="text" class="form-control" id="id" name="id" value="@Model.sinhVien.id">
                                            </div>
                                            <div class="mb-3">
                                                <label for="tensinhvien" class="form-label">
                                                    Tên sinh viên:
                                                </label> <input type="text" class="form-control" id="tensinhvien" name="tensinhvien" value="@Model.sinhVien.tensinhvien">
                                            </div>
                                            <div class="mb-3">
                                                <label for="khoahoc" class="form-label">Khóa học:</label>
                                                <input type="text" class="form-control" id="khoahoc" name="khoahoc" value="@Model.sinhVien.khoahoc">
                                            </div>
                                            <div class="mb-3">
                                                <label for="nganhhoc" class="form-label">Ngành học:</label>
                                                <input type="text" class="form-control" id="nganhhoc" name="nganhhoc" value="@Model.sinhVien.nganhhoc">
                                            </div>
                                            <div class="mb-3">
                                                <label for="email" class="form-label">Email:</label>
                                                <input type="email" class="form-control" id="email" name="email" value="@Model.sinhVien.email">
                                            </div>
                                            <div class="mb-3">
                                                <label for="sodienthoai" class="form-label">Số điện thoại:</label>
                                                <input type="text" class="form-control" id="sodienthoai" name="sodienthoai" value="@Model.sinhVien.sodienthoai">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label for="gioitinh" class="form-label">Gioi tính:</label>
                                                <select id="gioitinh" name="gioitinh" class="form-control">
                                                    <option value="@Model.sinhVien.gioitinh" selected>@Model.sinhVien.gioitinh</option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="ngaysinh" class="form-label">Ngày sinh:</label>
                                                <input type="text" class="form-control" id="ngaysinh" name="ngaysinh" value="@Model.sinhVien.ngaysinh" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="ngayvao" class="form-label">Ngày vào:</label>
                                                <input type="text" class="form-control" id="ngayvao" name="ngayvao" value="@Model.sinhVien.ngayvao" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="tinh" class="form-label">Tỉnh:</label>
                                                <select id="tinh" name="tinh" class="form-control">
                                                    <option value="@Model.sinhVien.tinh" selected>@Model.sinhVien.tinh</option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="quan" class="form-label">Quận/huyện:</label>
                                                <select id="quan" name="quan" class="form-control">
                                                    <option value="@Model.sinhVien.quan" selected>@Model.sinhVien.quan</option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="phuong" class="form-label">Phường/xã:</label>
                                                <select id="phuong" name="phuong" class="form-control">
                                                    <option value="@Model.sinhVien.phuong" selected>@Model.sinhVien.phuong</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <div class="col-6">
                                <div class="text-bg-secondary p-2">Thông tin chuyển phòng</div>
                                <div class="border border-secondary-subtle" style="padding:10px 20px">
                                    <form action="/SinhVien/ChuyenPhong" method="post">
                                        <input type="hidden" class="form-control" id="id" name="id" value="@Model.sinhVien.id">
                                        <input type="hidden" id="idnguoidung" name="idnguoidung" value="@ViewData["id"]" class="form-control" />
                                        <div class="mb-3 ">
                                            <label for="lydo" class="form-label">Lý do:</label><br />
                                            <input type="text" name="lydo" value="@Model.chuyenPhong.lydo" class="form-control"
                                                   required />
                                        </div>
                                        <div class="mb-3">
                                            <label for="ngaychuyen" class="form-label">Ngày chuyển:</label><br />
                                            <input type="datetime-local" name="ngaychuyen" value="@Model.chuyenPhong.ngaychuyen"
                                                   class="form-control"
                                                   required />
                                        </div>
                                        <div class="mb-3">
                                            <label for="idphongmoi" class="form-label">Phòng mới:</label>
                                            <select id="idphongmoi" name="idphongmoi" class="form-control">
                                                @if (Model.phongs != null && Model.phongs.Count > 0)
                                                {
                                                    foreach (var phong in Model.phongs)
                                                    {
                                                        <option value="@phong.id">Số phòng:@phong.id - Loại phòng:@phong.loaiphong - Số người:@phong.songuoio</option>
                                                    }
                                                }
                                                else
                                                {
                                                    <option value="" selected>No data available</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary btn-lg">Chuyển phòng</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<script src="/static/custom.min.js"></script>
<script src="/static/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
@if (TempData["loichuyenphong"] != null)
{
    <script>
        Swal.fire({
            position: "top-right",
            title: 'Ngày tháng bạn nhập không hợp lệ!',
            icon: "error",
            showConfirmButton: false,
        });
    </script>
}
@if (TempData["loichuyenphonggt"] != null)
{
    <script>
        Swal.fire({
            position: "top-right",
            title: 'Gioi tính của sinh viên không thuộc về phòng đó!',
            icon: "error",
            showConfirmButton: false,
        });
    </script>
}
@if (TempData["loisonguoi"] != null)
{
    <script>
        Swal.fire({
            position: "top-right",
            title: 'Số người phòng mới đã đầy!',
            icon: "error",
            showConfirmButton: false,
        });
    </script>
}
<script>
    const host = "https://provinces.open-api.vn/api/";
    var callAPI = (api) => {
        return axios.get(api)
            .then((response) => {
                renderData(response.data, "tinh");
            });
    }
    callAPI('https://provinces.open-api.vn/api/?depth=1');
    var callApiDistrict = (api) => {
        return axios.get(api)
            .then((response) => {
                renderData(response.data.districts, "quan");
            });
    }
    var callApiWard = (api) => {
        return axios.get(api)
            .then((response) => {
                renderData(response.data.wards, "phuong");
            });
    }

    var renderData = (array, select) => {
        let row = ' <option disable value="">Chọn</option>';
        array.forEach(element => {
            row += `<option data-id="${element.code}" value="${element.name}">${element.name}</option>`
        });
        document.querySelector("#" + select).innerHTML = row
    }

    $("#tinh").change(() => {
        callApiDistrict(host + "p/" + $("#tinh").find(':selected').data('id') + "?depth=2");
        printResult();
    });
    $("#quan").change(() => {
        callApiWard(host + "d/" + $("#quan").find(':selected').data('id') + "?depth=2");
        printResult();
    });
    $("#phuong").change(() => {
        printResult();
    })

    var printResult = () => {
        if ($("#quan").find(':selected').data('id') != "" && $("#tinh").find(':selected').data('id') != "" &&
            $("#phuong").find(':selected').data('id') != "") {
            let result = $("#tinh option:selected").text() +
                " | " + $("#quan option:selected").text() + " | " +
                $("#phuong option:selected").text();
            $("#result").text(result)
        }

    }
</script>
